html{
    background-color: rgb(218, 214, 214);
}

.header{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    color: antiquewhite;
color: #FFFFFF;
text-shadow: 4px 3px 0 #7A7A7A;
}

.cell{
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
    text-align: center;
    font: 1.2em bold "Fira Sans", serif bold;
    background: #ff8f8f;
    box-shadow:  20px 20px 60px #d97a7a,
                  -20px -20px 60px #ffa4a4;
                  
    
}


.svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .cell:hover {
    transition: 1s ease-in-out;
    background: #da4f9b;
  }
  
  .cell:hover svg {
    stroke-dashoffset: -480;
  }
  
  .cell span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  
.gameDiv {
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
/*     grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; */
}
.gameBoardDiv{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px; 
    align-items: center;
    align-content: center;
  /*  width: 100%;
   height: 0%; */
    margin: 0 1rem 1rem 0;
   padding: 8rem 8rem 8rem 8rem;
   background: rgb(161, 41, 41);

   border-radius: 50px;
   background: #d1d1d1;
   box-shadow:  20px 20px 60px #b2b2b2,
                -20px -20px 60px #f0f0f0;
}



[data-column]{

}